# Ignore node_modules folders
node_modules
*/node_modules
*/**/node_modules

# Ignore git folder
.git

# Ignore Docker related files
Dockerfile
.dockerignore

# Ignore other local files
.env
.env.local
*.log
